body {
    background: #262626 url(/static/img/bg.png) center top no-repeat;
    font: 62.5% Arial,Helvetica,sans-serif;
}

ul {
  list-style: none;
}

#menu li {
    display: inline;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #cccccc;
    padding:3px 6px;
  	color:#fff;
  	margin:0 3px;
  	color:#990000;
}

a {
  color: rgb(122, 0, 38);
  font-weight: 700;
}

.bigMenu li {
  display: inline;
  border-right: 1px solid #cccccc;
}

.bigMenu a {
  color: #7a0026;
  display: inline;
  padding: 3px 12px;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

.searchField input[type=text]{
  border: 1px solid #999;
  width: 174px;
  padding: 3px;
}

.searchField {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-width: 174px;
}

.searchLabel {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0px;
}
