<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salary Database | Alaska Policy Forum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap-table/4.1.0/react-bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div id='root'></div>
    
    <script>
      $('#submit').click( () => {
        $.ajax({
          url:'/search/asd',
          type:'post',
          data: JSON.stringify({
            last_name: $('#last_name').val(),
            first_name: $('#first_name').val(),
            order_by: $('#order_by').val()
          }),
          contentType: 'application/json'
        })
      })
    </script>
    <script src='/static/js/bundle.js'></script>
  </body>
</html>
